// SIZES **************************************************
@un: 8px;

// TEXT SIZES
@font-size: 1.75 * @un;
@line-height:1.5;
@line-height-title:1.1;
@margin-bottom: 2 * @un;

// BUTTON SIZES
@btn-padding: 1.2em;
@btn-line-height: 2.4em;
@btn-border-width: 1px;

// INPUT SIZES
@input-padding: 0.5 * @btn-padding;
@input-line-height: @btn-line-height;
@input-border-width:@btn-border-width;



// 3. COLOURS
@grey:#DDD;
@a-color:#29F;
@mark-color:#FF0;

// BUTTON COLOURS
@btn-background-color:lighten(@grey, 5%);
@btn-border-color:@grey;

// INPUT COLOURS
@input-border-color:@btn-border-color;