/* Parallax **************/
.parallax {
  position: relative;
  background-color: transparent !important;
}
.parallax .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #4a4a4a;
}
.parallax .bg img {
  opacity: 0.4;
  width: 100%;
  height: auto;
  display: block;
}
/*
.section-bg-video {
  position: relative;
  background-color: transparent !important;
  .bg-video {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #000;
    overflow: hidden;
    .bg-video-wrap {
      position: absolute;
      width: 100%;
      video {
        opacity: 0.7;
        width: 100% !important;
        height: auto !important;
        display: block;
      }
    }
  }
}
*/
